<div
class="contentEditor"><div
class="contentSection"> {noteList}
{chordList}
{bassList}
{instrumentList}
{tuningList}</div><div
class="contentSection chordGenerator"><ul
class="infoList"><li
class="infoItem"> <span
class="infoTitle">Nom : </span> <span
class="infoDisplay chordName">{chordName}</span></li><li
class="infoItem"> <span
class="infoTitle">Représentations : </span> <span
class="infoDisplay codeList">{codeList}</span></li><li
class="infoItem"> <span
class="infoTitle">Manche : </span> <span
class="infoDisplay"><table
class="stringList" border="0" cellpadding="0" cellspacing="0" height="100"> {neck}</table> </span></li><li
class="infoItem"> <span
class="infoTitle">Clavier : </span> <span
class="infoDisplay"><table
class='keyList' border='0' cellpadding='0' cellspacing='0'> {keyboard}</table> </span></li></ul><div
class="hiddenInfo"> <span
class="noteId">{noteId}</span> <span
class="chordId">{chordId}</span> <span
class="bassId">{bassId}</span> <span
class="instrumentId">{instrumentId}</span> <span
class="tuningId">{tuningId}</span></div></div></div>
