<div
class="chordHeader"><div
class="chordTab"><div
class="chordTitle"> ###chordName###</div><div
class="chordClose"> <img
src="image/close.png" alt="Fermer" width="16" height="16" /></div></div></div><div
class="neck"><table
class="stringList" border="0" cellpadding="0" cellspacing="0"> ###neck###</table></div><div
class="hiddenInfo"> <span
class="noteId">###noteId###</span> <span
class="chordId">###chordId###</span> <span
class="bassId">###bassId###</span> <span
class="instrumentId">###instrumentId###</span> <span
class="tuningId">###tuningId###</span></div>