<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html
xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta
http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>Connexion</title></head><body><form
action="" method="post"> <input
type="hidden" name="action" value="connecting" /><h1>Connection</h1><div> <label
for="user">Usager: </label> <input
id="user" name="user" type="text" autocomplete="off" value=""/></div><div> <label
for="password">Mot de passe: </label> <input
id="password" name="password" type="password" autocomplete="off" value=""/></div><div> <input
id="submit" type="submit" value="Connecter" /></div></form></body></html>