<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html
xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta
http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>Chansons</title><link
href="merge/admin.css" rel="stylesheet" type="text/css" /></head><body><h1 id="title">Chansons</h1> <a
id="addSong"><img
src="image/add.png" title="Ajouter une chanson" alt="Ajouter une chanson">Ajouter une chanson</a><br
/><ul
id="songList"></ul><div
id="songDetail"></div><ul
id="editList"><li><a
id="callEditSong">Afficher la liste de chansons</a></li><li><a
id="callEditArtist">Afficher la liste d'artistes</a></li><li><a
id="callEditAlbum">Afficher la liste d'albums</a></li><li><form
id="cleanCommand" action="" method="post"> <input
type="hidden" name="action" value="cleanAll" /> <input
id="submit" type="submit" value="Faire le ménage" /></form></li></ul><script type="text/javascript" src="merge/admin.js" chartype="utf-8"></script></body></html>