<div
id="editBody"><div
id="listPart"><h3>Liste</h3><div
id="list">&nbsp;</div></div><div
id="detailPart"><h3>Détails</h3><div
id="detail">&nbsp;</div></div><div
id="commandPart"><h3>Commandes</h3><div
id="command"><ul
id="commandList"><li
class="button"><a
id="callEditSong">Afficher la liste de chansons</a></li><li
class="button"><a
id="callEditArtist">Afficher la liste d'artistes</a></li><li
class="button"><a
id="callEditAlbum">Afficher la liste d'albums</a></li><li
class="button"><a
id="callEditTheme">Afficher la liste de thèmes</a></li><li
class="button"><a
id="callEditDocument">Afficher la liste de documents</a></li><li
class="button"><form
action="" method="post"> <input
type="hidden" name="action" value="cleanAll" /> <input
type="submit" value="Faire le ménage" /></form></li><li
class="button"><form
action="" method="post"> <input
type="hidden" name="action" value="logout" /> <input
type="submit" value="Déconnecter" /></form></li></ul></div></div></div>