<h2>{head}</h2><form
action="" method="post"> <input
type="hidden" name="action" value="setArtist" /><h3>Artiste</h3> <input
type="hidden" name="artistId" value="{artistId}" /><div
class="table"><div
class="row"> <label
for="newArtistId">Id: </label><input
type="text" id="newArtistId" name="newArtistId" value="{artistId}" maxlength="255"/></div><div
class="row"> <label
for="artistName">Nom: </label><input
type="text" id="artistName" name="artistName" value="{artistName}" maxlength="255"/></div><div
class="row"> <label
for="origin">Origine :</label> <select
id="origin" name="origin"><option
value="qc" selected="selected">Québec</option><option
value="ca">Canada</option><option
value="fr">France</option><option
value="us">États-Unis</option><option
value="uk">Angleterre</option><option
value="be">Belgique</option><option
value="ch">Suisse</option><option
value="cy">Chypre</option><option
value="de">Allemagne</option><option
value="es">Espagne</option><option
value="ir">Irlande</option><option
value="mx">Mexique</option><option
value="wa">Pays des Galles</option><option
value="eg">Égypte</option> </select></div></div><hr
/><h3>Membres</h3><div><ul
id="memberList"> {memberList}</ul> <span
class="button"><a
id="chooseMember" title="Choisir">Choisir dans la liste d'artistes</a></span></div><hr
/><h3>Groupes</h3><div><ul
id="groupList"> {groupList}</ul> <span
class="button"><a
id="chooseGroup" title="Choisir">Choisir dans la liste d'artistes</a></span></div><hr
/><h3>Compositions</h3><div><ul
id="compositionList"> {compositionList}</ul> <span
class="button"><a
id="chooseComposition" title="Choisir">Choisir dans la liste de chansons</a></span></div><hr
/><h3>Interpretations</h3><div><ul
id="interpretationList"> {interpretationList}</ul> <span
class="button"><a
id="chooseInterpretation" title="Choisir">Choisir dans la liste de chansons</a></span></div><hr
/><div> <span
class="button"><input
id="reset" type="reset" value="Réinitialiser" /></span> <span
class="button"><input
id="submit" type="submit" value="Enregistrer" /></span></div></form>
