<h2>###head###</h2><form
action="" method="post"> <input
type="hidden" name="action" value="setTheme" /><h3>Thème</h3> <input
type="hidden" name="themeId" value="###themeId###" /><div
class="table"><div
class="row"> <label
for="newThemeId">Id: </label><input
type="text" id="newThemeId" name="newThemeId" value="###themeId###" maxlength="255"/></div><div
class="row"> <label
for="themeName">Nom: </label><input
type="text" id="themeName" name="themeName" value="###themeName###" maxlength="255"/></div></div><hr
/><h3>Chansons</h3><div><ul
id="categoryList"> ###categoryList###</ul> <span
class="button"><a
id="chooseCategory" title="Choisir">Choisir dans la liste de chansons</a></span></div><hr
/><div> <span
class="button"><input
id="reset" type="reset" value="Réinitialiser" /></span> <span
class="button"><input
id="submit" type="submit" value="Enregistrer" /></span></div></form>