<h2>###head###</h2><form
action="" method="post"> <input
type="hidden" name="action" value="setDocument" /><h3>Document</h3> <input
type="hidden" name="documentId" value="###documentId###" /><div
class="table"><div
class="row"> <label
for="newDocumentId">Id: </label> <input
type="text" id="newDocumentId" name="newDocumentId" value="###documentId###" maxlength="255"/></div><div
class="row"> <label
for="documentTitle">Titre: </label> <input
type="text" id="documentTitle" name="documentTitle" value="###documentTitle###" maxlength="255"/></div></div><h3>Détails</h3><div
class="table"><div
class="row"><textarea id="content" name="content" rows="24" cols="80">###content###</textarea></div></div><hr
/><div> <span
class="button"><input
id="reset" type="reset" value="Réinitialiser" /></span> <span
class="button"><input
id="submit" type="submit" value="Enregistrer" /></span></div></form>