<form action="" method="post">
  <input type="hidden" name="action" value="login" />
  <h1>Connexion</h1>
  <div class="table">
    <div class="row">
      <label for="user">Usager: </label>
      <input id="user" name="user" type="text" autocomplete="off" value=""/>
    </div>
    <div class="row">
      <label for="password">Mot de passe: </label>
      <input id="password" name="password" type="password" autocomplete="off" value=""/>
    </div>
  </div>
  <div class="button">
    <input id="submit" type="submit" value="Connecter" />
  </div>
</form>
